:root{
  --primary-color: rgba(13, 110, 139, 0.45);
  --overlay-color: rgba(81, 177, 255, 0.85);
  --menu-speed:0.75s;
  
  --black: #383838;
  --white: #ffffff;
  --gray: #f8f8f8;
  --orange: #ff7b60;
  --blue: #008aad;
  
  --lineheight--sm: 1.3em;
  --lineheight--md: 1.5em;
  --lineheight--lg: 2em;
  
  --font--sm: 1.1rem;
  --font--md: 1.4rem;
  --font--lg: 4rem;
}

*{
box-sizing: border-box;
margin: 0;
padding:0;
}

html {
font-size: 17px;
}

body{
  font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color: black;
}
body::after{
  content: "";
  background-image: url("./images/img.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  

}

.container{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  color: #ffffff;
  text-align: center;
}


.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}


.btn{
  display: inline-block;
  border: none;
  background-color: rgb(13, 110, 139);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}




.menu-wrap{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.menu-wrap .toggler{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 6.9em;
  height: 6.9em;
  opacity: 0;
}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 4.8em;
  height: 4.8em;
  padding: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 0.1em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.5em;
  width: 100%;
  height: 0.1em;
  background: inherit;
}

.menu-wrap .hamburger > div:after{
  top: 0.5em;
}

.menu-wrap .toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

/* .menu-wrap .toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: var(--menu-speed);
} */

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div{
  background: #1e1f23;
  /* border-radius: 50%; */
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  /* transform: scale(0); */
  transition: all 0.1s ease;
}

.menu-wrap .menu > div > div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;

  padding: 1em;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.1s ease;
}



header {
display: flex;
justify-content: flex-start;
align-items: center;
padding: 1.7em 10%;
background-color: #24252a;
}

.right-area {
flex: 1 1 35%;
}
nav {
flex: 1 1 35%;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 1.1em;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}



/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 0.8em;
  font-size: 2.1em;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 1.1em;
  right: 45px;
  font-size: 2.6rem;
  color: #edf0f1;
  cursor: pointer;
}



@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 13px; } 
}



@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 1.1rem;
  }
  .overlay .close {
    font-size: 2.3rem;
    top: 0.8em;
    right: 2em;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .menu-wrap{
      display: block;
  }
}